@import './global';

%border-radius {
  border-radius: 7px;
}

%anti-button {
  border: 0;
  outline: none;
  background: transparent;
}


/* General */ 
body {
  width: 100%;
  min-width: 320px;
  background-color: $primary-light;
  background-size: cover;
  background-attachment: fixed;
  color: $text_color;
}

/* Login */ 
.google-login-button{
  background-color: nth($bluegray,10);
  border: 0px;
  outline:none;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;

  &:hover, &:focus, &:active{
    border: 0px;
    outline:none;

  }

}

.btn-google {
  color: white;
  background-color: $googleColor;
  border-color: $googleColor;

  &:hover, &:active, &:focus {
    background-color: $googleColor + #100;
    border-color: $googleColor + #100;
  }
}

.genres-container{
  display: flex;
  flex-direction: column;
}

// Line Gallery - NOT WORKING
.line-container {
  overflow: hidden;

  @media(max-width: 767px) {
    height: 100px;
  }

  @media(min-width: 768px) {
    height: 200px;
  }
}

button.anti-button {
  @extend %anti-button;
}

@import '../src/components/index';
