@import './global';

%border-radius {
  border-radius: 7px;
}

/* General */ 
body {
  width: 100%;
  min-width: 320px;
  background-color: $primary;
  background-size: cover;
  background-attachment: fixed;
  color: $text_color;
}

.custom-container {
  position: relative;
  top: 65px;
  padding: 10px;
  margin-bottom: 10px;
  @include shadeTheme($theme);
  @extend %border-radius;

  @media (min-width: $screen-width-tablet){
    width: 90%;
  }
  @media (max-width: $screen-width-tablet){
      width: 97%;
  }
}

/* Login */ 
.google-login-button{
  background-color: nth($bluegray,10);
  border: 0px;
  outline:none;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;

  &:hover, &:focus, &:active{
    border: 0px;
    outline:none;

  }

}

.btn-google {
  color: white;
  background-color: $googleColor;
  border-color: $googleColor;

  &:hover, &:active, &:focus {
    background-color: $googleColor + #100;
    border-color: $googleColor + #100;
  }
}

.genres-container{
  display: flex;
  flex-direction: column;
}

// Line Gallery - NOT WORKING
.line-container {
  overflow: hidden;

  @media(max-width: 767px) {
    height: 100px;
  }

  @media(min-width: 768px) {
    height: 200px;
  }
  
  .line-slider {
    position: relative;
    left: 0;
    top:0;
    width: 30000px;
    opacity: 1;
    display: block;
    margin: 0;
    padding: 0;

  }
}

.MusicPlayer {
  background-color: rgba(255,255,255, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.playerButton {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  outline: none;
  border: 1px solid transparent;

}

.playerButton:focus {
  outline: none;
}

.playerButton:hover {
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2);
}

@import '../src/components/index';
