$indigo: (
  #e8eaf6,
  #c5cae9,
  #9fa8da,
  #7986cb,
  #5c6bc0,
  #3f51b5,
  #3949ab,
  #303f9f,
  #283593,
  #1a237e,
  #8c9eff,
  #536dfe,
  #3d5afe,
  #304ffe
);

$bluegray:(
  #eceff1,
  #cfd8dc,
  #b0bec5,
  #90a4ae,
  #78909c,
  #607d8b,
  #546e7a,
  #455a64,
  #37474f,
  #263238
);

$primary: nth($indigo, 5);
$secondary: orange;
$background: nth($bluegray,8);
$text: white;

%border-radius {
  border-radius: 10px;
}

/* General */ 
body {
  height: 100%;
  width: 100%;
  /*background-image: radial-gradient( circle at bottom right, #29B6F6 ,#01579B 65%);*/
  background-color: $background;
  background-size: cover;
  background-attachment: fixed;
  color: $text;
}



/* Navigation Bar */ 
.navbar {
  background-color:  nth($bluegray,10);

  .navbar-brand{
    a, button{
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      font-size: 1.25rem;
      line-height: inherit;
      white-space: nowrap;
      color: $secondary;

      &:hover, &:focus{
        text-decoration: none;
      }
    }

    .app-motto{
      display: inline-block;
      position: relative;
      margin-left: -12px;
      font-size: 0.75rem;
    }
  }
}

/* Login */ 
.google-login-button{
  background-color: nth($bluegray,10);
  border: 0px;
  outline:none;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;

  &:hover, &:focus, &:active{
    border: 0px;
    outline:none;

  }

}

// Line Gallery - NOT WORKING
.line-container {
  overflow: hidden;

  @media(max-width: 767px) {
    height: 100px;
  }

  @media(min-width: 768px) {
    height: 200px;
  }
  
  .line-slider {
    position: relative;
    left: 0;
    top:0;
    width: 30000px;
    opacity: 1;
    display: block;
    margin: 0;
    padding: 0;

  }
}

.MusicPlayer {
  background-color: rgba(255,255,255, 0.1);
  border-radius: 5px;
  padding: 10px;
}

.playerButton {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  outline: none;
  border: 1px solid transparent;

}

.playerButton:focus {
  outline: none;
}

.playerButton:hover {
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.2);
}

@import '../src/components/collection/index'