/* --------------  Global Configuration and Consts  -------------- */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.image-link, .image-link .check-mark-container, .image-link img.image, .image-link .title, .custom-container {
  border-radius: 7px; }

/* General */
body {
  width: 100%;
  min-width: 320px;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  color: #37474f; }

/* Login */
.google-login-button {
  background-color: #263238;
  border: 0px;
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: white; }
  .google-login-button:hover, .google-login-button:focus, .google-login-button:active {
    border: 0px;
    outline: none; }

.btn-google {
  color: white;
  background-color: #de5f54;
  border-color: #de5f54; }
  .btn-google:hover, .btn-google:active, .btn-google:focus {
    background-color: #ef5f54;
    border-color: #ef5f54; }

.genres-container {
  display: flex;
  flex-direction: column; }

.line-container {
  overflow: hidden; }
  @media (max-width: 767px) {
    .line-container {
      height: 100px; } }
  @media (min-width: 768px) {
    .line-container {
      height: 200px; } }
  .line-container .line-slider {
    position: relative;
    left: 0;
    top: 0;
    width: 30000px;
    opacity: 1;
    display: block;
    margin: 0;
    padding: 0; }

.MusicPlayer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 10px; }

.playerButton {
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  border-radius: 15px;
  border: none;
  outline: none;
  border: 1px solid transparent; }

.playerButton:focus {
  outline: none; }

.playerButton:hover {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2); }

/* --------------  Gallery Style  -------------- */
.image-link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-overflow: clip; }
  @media (max-width: 450px) {
    .image-link {
      height: 100px;
      margin: 1px;
      font-size: smaller; } }
  @media (min-width: 451px) and (max-width: 767px) {
    .image-link {
      height: 125px;
      margin: 2px;
      font-size: smaller; } }
  @media (min-width: 768px) {
    .image-link {
      height: 150px;
      margin: 5px;
      font-size: medium; } }
  .image-link .check-mark-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center; }
    .image-link .check-mark-container i.check-mark {
      position: relative;
      top: calc(50% - 24px);
      color: white; }
  .image-link img.image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover; }
  .image-link .title {
    position: absolute;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 50%, transparent);
    color: #ff7043;
    font-weight: 600;
    width: 100%;
    padding: 2px 4px;
    border-radius: 10px;
    z-index: 4; }

.badge {
  margin: 5px 10px;
  cursor: pointer; }
  .badge:hover {
    background-color: #dd4e21; }

.badge-checked {
  background-color: #dd4e21; }

.badge-veryhigh {
  background-color: #bb2c00;
  color: white;
  padding: 10px 15px; }

.badge-high {
  background-color: #aa1b00;
  color: white;
  padding: 7px 12px; }

.badge-medium {
  background-color: #990a00;
  color: white;
  padding: 5px; }

.badge-low {
  background-color: #880000;
  color: rgba(255, 255, 255, 0.9); }

.badge-verylow {
  background-color: #770000;
  color: rgba(255, 255, 255, 0.8); }

.checked {
  display: inline-block;
  position: relative;
  bottom: 5px;
  right: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../components/collection/images/check-16px.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: -15px;
  margin-bottom: -10px; }

/* Navigation Bar */
.navbar {
  background-color: #0069d9;
  color: white; }
  .navbar .navbar-brand a, .navbar .navbar-brand button {
    display: inline;
    font-size: 16pt;
    font-weight: 500;
    white-space: nowrap;
    color: white; }
    .navbar .navbar-brand a:hover, .navbar .navbar-brand a:focus, .navbar .navbar-brand button:hover, .navbar .navbar-brand button:focus {
      text-decoration: none; }
  .navbar .navbar-brand .app-motto {
    display: inline;
    position: relative;
    margin-left: 5%;
    font-size: 9pt; }
    @media (max-width: 768px) {
      .navbar .navbar-brand .app-motto {
        display: none; } }
  .navbar .hidden {
    display: none; }

button.non-button {
  border: 0;
  outline: none;
  background: transparent; }

img.profile-pic {
  width: 42px;
  height: 42px;
  border-radius: 50%; }

.user-profile-pic {
  width: 2em;
  height: 2em;
  border-radius: 50%; }

/* Pages style */
.login-page-container .local-login-container {
  width: 80%;
  margin: 0 auto; }

form.custom-form {
  display: flex;
  flex-direction: column;
  margin: 0px 3%; }

.custom-container {
  position: relative;
  top: 75px;
  padding: 2%;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.07); }
  @media (min-width: 768px) {
    .custom-container {
      width: 90%; } }
  @media (max-width: 768px) {
    .custom-container {
      width: 97%; } }
