@import './collection/index';
@import './navigation-bar/navigation-bar';
@import './user/user-icon';
@import './pages/index';


form.custom-form {
    display: flex;
    flex-direction: column;
    margin: 0px 3%;
}

.custom-container {
    position: relative;
    top: 75px;
    padding: 2%;
    margin-bottom: 10px;
    @include shadeTheme($theme);
    @extend %border-radius;

    @media (min-width: $screen-width-tablet){
        width: 90%;
    }
    @media (max-width: $screen-width-tablet){
        width: 97%;
    }
}